:root {
  --font-primary: "Noto Sans", Arial, Helvetica, sans-serif;
  --font-mono: "Noto Sans Mono", monospace;
  --mini-gap: 0.25rem; /* 4px */
  --standard-gap: 0.5rem; /* 8px */
  --large-gap: 1rem; /* 16px */
  --border-gray: rgb(212, 212, 216);
}

.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mh-auto {
  margin-left: auto;
  margin-right: auto;
}

.mv-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.gap-m {
  gap: var(--mini-gap);
}

.m-m {
  margin: var(--mini-gap);
}

.mt-m {
  margin-top: var(--mini-gap);
}

.mb-m {
  margin-bottom: var(--mini-gap);
}

.mv-m {
  margin-top: var(--mini-gap);
  margin-bottom: var(--mini-gap);
}

.mh-m {
  margin-left: var(--mini-gap);
  margin-right: var(--mini-gap);
}

.ml-m {
  margin-left: var(--mini-gap);
}

.mr-m {
  margin-right: var(--mini-gap);
}

.gap-s {
  gap: var(--standard-gap);
}

.m-s {
  margin: var(--standard-gap);
}

.mt-s {
  margin-top: var(--standard-gap);
}

.mb-s {
  margin-bottom: var(--standard-gap);
}

.mv-s {
  margin-top: var(--standard-gap);
  margin-bottom: var(--standard-gap);
}

.mh-s {
  margin-left: var(--standard-gap);
  margin-right: var(--standard-gap);
}

.ml-s {
  margin-left: var(--standard-gap);
}

.mr-s {
  margin-right: var(--standard-gap);
}

.gap-l {
  gap: var(--large-gap);
}

.m-l {
  margin: var(--large-gap);
}

.mt-l {
  margin-top: var(--large-gap);
}

.mb-l {
  margin-bottom: var(--large-gap);
}

.mv-l {
  margin-top: var(--large-gap);
  margin-bottom: var(--large-gap);
}

.mh-l {
  margin-left: var(--large-gap);
  margin-right: var(--large-gap);
}

.ml-l {
  margin-left: var(--large-gap);
}

.mr-l {
  margin-right: var(--large-gap);
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.font-mono {
  font-family: var(--font-mono);
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.container.alu {
  max-width: 1200px;
  padding: 0 8px;
  margin: 0 auto;
}

.container-padded.alu {
  max-width: 1200px;
  padding: 0 8px;
  margin: 0 auto;
}

body.alu {
  font-family: var(--font-primary);
  margin: 0;
  padding: 0;
}

input.alu {
  padding-block: unset;
  padding-inline: unset;
  padding: 0.375rem 0.5rem;
  border-width: 1px;
  line-height: 1.5rem;
  font-size: 0.875rem;
  outline: none;
  border-style: solid;
  font-family: var(--font-mono);
  border-color: var(--border-gray);
}

input.alu[type="text"] {
  width: 100%;
}

select.alu {
  padding-block: unset;
  padding-inline: unset;
  padding: 0.375rem 0.5rem;
  border-width: 1px;
  line-height: 1.5rem;
  font-size: 0.875rem;
  outline: none;
  border-style: solid;
  font-family: var(--font-mono);
  border-color: var(--border-gray);
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 5px;
  padding-right: 2rem;
}

button.primary.alu {
  padding: 0.5rem 1rem;
  background: black;
  color: white;
  border: none;
  font-weight: 600;

  font-size: 0.875rem;
  line-height: 1.25rem;
  cursor: pointer;
}

button.alu {
  padding: 0.5rem 1rem;
  background: white;
  border: 1px solid var(--border-gray);
  color: black;
  font-weight: 600;

  font-size: 0.875rem;
  line-height: 1.25rem;
  cursor: pointer;
}

h1.alu {
  font-size: 3rem;
}

h2.alu {
  font-size: 2.25rem;
}

h3.alu {
  font-size: 1.875rem;
}

h4.alu {
  font-size: 1.5rem;
}

h5.alu {
  font-size: 1.25rem;
}

h6.alu {
  font-size: 1rem;
}

h1.alu,
h2.alu,
h3.alu,
h4.alu,
h5.alu,
h6.alu {
  font-family: var(--font-primary);
  font-weight: bold;
}

.row.alu {
  display: flex;
}

.inverted-row.alu {
  display: flex;
  flex-direction: row-reverse;
}

.centered-row.alu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.debug.alu {
  border: 1px solid red;
  min-width: 50px;
  min-height: 50px;
  background: lightgoldenrodyellow;
}

pre.alu {
  font-family: var(--font-mono);
  background: #f5f5f5;
  margin: 0.5rem 0;
  padding: 0.5rem;
}

textarea.alu {
  width: 100%;
  padding: 0.375rem 0.5rem;
  border-width: 1px;
  line-height: 1.5rem;
  font-size: 0.875rem;
  outline: none;
  border-style: solid;
  font-family: var(--font-mono);
  border-color: var(--border-gray);
}

dialog.alu {
  background-color: white;
  border: 1px solid var(--border-gray);
  color: black;
  height: fit-content;
  margin: auto;
  padding: var(--large-gap);
}

dialog.alu::backdrop {
  background-color: rgba(0, 0, 0, 0.25);
}
