:root {
  --font-primary: "Noto Sans", Arial, Helvetica, sans-serif;
  --font-mono: "Noto Sans Mono", monospace;
  --sm-gap: 0.25rem; /* 4px */
  --md-gap: 0.5rem; /* 8px */
  --lg-gap: 1rem; /* 16px */
  --xl-gap: 1.5rem; /* 24px */

  --border-width: 1px;
  --border-color: rgb(212, 212, 216);
  --border-radius: 0px;

  --nav-background: black;
  --nav-color: white;
  --nav-height: 48px;
  --nav-menu-hover-background: rgb(33, 33, 33);

  --active-color: #3d79d4;
  --primary-text-color: white;
  --secondary-text-color: rgb(90, 90, 90);
  --focus-color: #3d79d4cc;
  --disabled-color: rgb(240, 240, 240, 0.3);
  --disabled-active-color: #bcbcbc;
  --link-color: black;

  --pre-background: #f5f5f5;

  --transition-duration: 100ms;

  --button-primary-background: black;
  --button-primary-color: white;
  --button-disabled-background: rgb(0, 0, 0, 0.3);

  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 2rem;

  --line-height-sm: 1.25rem;
  --line-height-md: 1.5rem;
  --line-height-lg: 1.75rem;
  --line-height-xl: 2rem;

  --input-padding: 0.375rem 0.5rem;
  --input-font-size: var(--font-size-sm);
  --input-line-height: var(--line-height-sm);

  --blockquote-ornamentation: 4px solid var(--border-color);
  --blockquote-text-color: var(--secondary-text-color);

  --container-width: 1200px;

  /* Note: Media queries can't depend on CSS variables */
  /* Changing these will not affect responsiveness of the grid */
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

/* Text sizes */
.alu .text-sm:not(.notalu):not(.notalu .text-sm),
.alu.text-sm {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
}

.alu .text-md:not(.notalu):not(.notalu .text-md),
.alu.text-md {
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
}

.alu .text-lg:not(.notalu):not(.notalu .text-lg),
.alu.text-lg {
  font-size: var(--font-size-lg);
  line-height: var(--line-height-lg);
}

.alu .text-xl:not(.notalu):not(.notalu .text-xl),
.alu.text-xl {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-xl);
}

.alu .font-mono:not(.notalu):not(.notalu .font-mono),
.alu.font-mono {
  font-family: var(--font-mono);
}

.alu .text-base:not(.notalu):not(.notalu .text-base),
.alu.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

/* Width and height */
.alu .w-full:not(.notalu):not(.notalu .w-full),
.alu.w-full {
  width: 100%;
}

.alu .h-full:not(.notalu):not(.notalu .h-full),
.alu.h-full {
  height: 100%;
}

/* Positioning */
.alu .fixed:not(.notalu):not(.notalu .fixed),
.alu.fixed {
  position: fixed;
}

.alu .absolute:not(.notalu):not(.notalu .absolute),
.alu.absolute {
  position: absolute;
}

.alu .relative:not(.notalu):not(.notalu .relative),
.alu.relative {
  position: relative;
}

.alu .sticky:not(.notalu):not(.notalu .sticky),
.alu.sticky {
  position: sticky;
}

.alu .static:not(.notalu):not(.notalu .static),
.alu.static {
  position: static;
}

.alu .top-0:not(.notalu):not(.notalu .top-0),
.alu.top-0 {
  top: 0;
}

.alu .right-0:not(.notalu):not(.notalu .right-0),
.alu.right-0 {
  right: 0;
}

.alu .bottom-0:not(.notalu):not(.notalu .bottom-0),
.alu.bottom-0 {
  bottom: 0;
}

.alu .left-0:not(.notalu):not(.notalu .left-0),
.alu.left-0 {
  left: 0;
}

.alu .left-sm:not(.notalu):not(.notalu .left-sm),
.alu.left-md {
  left: var(--md-gap);
}

.alu .left-lg:not(.notalu):not(.notalu .left-lg),
.alu.left-lg {
  left: var(--lg-gap);
}

.alu .left-xl:not(.notalu):not(.notalu .left-xl),
.alu.left-xl {
  left: var(--xl-gap);
}

.alu .top-sm:not(.notalu):not(.notalu .top-sm),
.alu.top-sm {
  top: var(--sm-gap);
}

.alu .top-md:not(.notalu):not(.notalu .top-md),
.alu.top-md {
  top: var(--md-gap);
}

.alu .top-lg:not(.notalu):not(.notalu .top-lg),
.alu.top-lg {
  top: var(--lg-gap);
}

.alu .top-xl:not(.notalu):not(.notalu .top-xl),
.alu.top-xl {
  top: var(--xl-gap);
}

.alu .right-sm:not(.notalu):not(.notalu .right-sm),
.alu.right-sm {
  right: var(--sm-gap);
}

.alu .right-md:not(.notalu):not(.notalu .right-md),
.alu.right-md {
  right: var(--md-gap);
}

.alu .right-lg:not(.notalu):not(.notalu .right-lg),
.alu.right-lg {
  right: var(--lg-gap);
}

.alu .right-xl:not(.notalu):not(.notalu .right-xl),
.alu.right-xl {
  right: var(--xl-gap);
}

.alu .bottom-sm:not(.notalu):not(.notalu .bottom-sm),
.alu.bottom-sm {
  bottom: var(--sm-gap);
}

.alu .bottom-md:not(.notalu):not(.notalu .bottom-md),
.alu.bottom-md {
  bottom: var(--md-gap);
}

.alu .bottom-lg:not(.notalu):not(.notalu .bottom-lg),
.alu.bottom-lg {
  bottom: var(--lg-gap);
}

.alu .bottom-xl:not(.notalu):not(.notalu .bottom-xl),
.alu.bottom-xl {
  bottom: var(--xl-gap);
}

/* Margins, paddings, gaps */
.alu .mt-auto:not(.notalu):not(.notalu .mt-auto),
.alu.mt-auto {
  margin-top: auto;
}

.alu .mb-auto:not(.notalu):not(.notalu .mb-auto),
.alu.mb-auto {
  margin-bottom: auto;
}

.alu .ml-auto:not(.notalu):not(.notalu .ml-auto),
.alu.ml-auto {
  margin-left: auto;
}

.alu .mr-auto:not(.notalu):not(.notalu .mr-auto),
.alu.mr-auto {
  margin-right: auto;
}

.alu .mh-auto:not(.notalu):not(.notalu .mh-auto),
.alu.mh-auto {
  margin-left: auto;
  margin-right: auto;
}

.alu .mv-auto:not(.notalu):not(.notalu .mv-auto),
.alu.mv-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.alu .gap-sm:not(.notalu):not(.notalu .gap-sm),
.alu.gap-sm {
  gap: var(--sm-gap);
}

.alu .m-sm:not(.notalu):not(.notalu .m-sm),
.alu.m-sm {
  margin: var(--sm-gap);
}

.alu .mt-sm:not(.notalu):not(.notalu .mt-sm),
.alu.mt-sm {
  margin-top: var(--sm-gap);
}

.alu .mb-sm:not(.notalu):not(.notalu .mb-sm),
.alu.mb-sm {
  margin-bottom: var(--sm-gap);
}

.alu .mv-sm:not(.notalu):not(.notalu .mv-sm),
.alu.mv-sm {
  margin-top: var(--sm-gap);
  margin-bottom: var(--sm-gap);
}

.alu .mh-sm:not(.notalu):not(.notalu .mh-sm),
.alu.mh-sm {
  margin-left: var(--sm-gap);
  margin-right: var(--sm-gap);
}

.alu .ml-sm:not(.notalu):not(.notalu .ml-sm),
.alu.ml-sm {
  margin-left: var(--sm-gap);
}

.alu .mr-sm:not(.notalu):not(.notalu .mr-sm),
.alu.mr-sm {
  margin-right: var(--sm-gap);
}

.alu .gap-md:not(.notalu):not(.notalu .gap-md),
.alu.gap-md {
  gap: var(--md-gap);
}

.alu .m-md:not(.notalu):not(.notalu .m-md),
.alu.m-md {
  margin: var(--md-gap);
}

.alu .mt-md:not(.notalu):not(.notalu .mt-md),
.alu.mt-md {
  margin-top: var(--md-gap);
}

.alu .mb-md:not(.notalu):not(.notalu .mb-md),
.alu.mb-md {
  margin-bottom: var(--md-gap);
}

.alu .mv-md:not(.notalu):not(.notalu .mv-md),
.alu.mv-md {
  margin-top: var(--md-gap);
  margin-bottom: var(--md-gap);
}

.alu .mh-md:not(.notalu):not(.notalu .mh-md),
.alu.mh-md {
  margin-left: var(--md-gap);
  margin-right: var(--md-gap);
}

.alu .ml-md:not(.notalu):not(.notalu .ml-md),
.alu.ml-md {
  margin-left: var(--md-gap);
}

.alu .mr-md:not(.notalu):not(.notalu .mr-md),
.alu.mr-md {
  margin-right: var(--md-gap);
}

.alu .gap-lg:not(.notalu):not(.notalu .gap-lg),
.alu.gap-lg {
  gap: var(--lg-gap);
}

.alu .m-lg:not(.notalu):not(.notalu .m-lg),
.alu.m-lg {
  margin: var(--lg-gap);
}

.alu .mt-lg:not(.notalu):not(.notalu .mt-lg),
.alu.mt-lg {
  margin-top: var(--lg-gap);
}

.alu .mb-lg:not(.notalu):not(.notalu .mb-lg),
.alu.mb-lg {
  margin-bottom: var(--lg-gap);
}

.alu .mv-lg:not(.notalu):not(.notalu .mv-lg),
.alu.mv-lg {
  margin-top: var(--lg-gap);
  margin-bottom: var(--lg-gap);
}

.alu .mh-lg:not(.notalu):not(.notalu .mh-lg),
.alu.mh-lg {
  margin-left: var(--lg-gap);
  margin-right: var(--lg-gap);
}

.alu .ml-lg:not(.notalu):not(.notalu .ml-lg),
.alu.ml-lg {
  margin-left: var(--lg-gap);
}

.alu .mr-lg:not(.notalu):not(.notalu .mr-lg),
.alu.mr-lg {
  margin-right: var(--lg-gap);
}

.alu .gap-xl:not(.notalu):not(.notalu .gap-xl),
.alu.gap-xl {
  gap: var(--xl-gap);
}

.alu .m-xl:not(.notalu):not(.notalu .m-xl),
.alu.m-xl {
  margin: var(--xl-gap);
}

.alu .mt-xl:not(.notalu):not(.notalu .mt-xl),
.alu.mt-xl {
  margin-top: var(--xl-gap);
}

.alu .mb-xl:not(.notalu):not(.notalu .mb-xl),
.alu.mb-xl {
  margin-bottom: var(--xl-gap);
}

.alu .mv-xl:not(.notalu):not(.notalu .mv-xl),
.alu.mv-xl {
  margin-top: var(--xl-gap);
  margin-bottom: var(--xl-gap);
}

.alu .mh-xl:not(.notalu):not(.notalu .mh-xl),
.alu.mh-xl {
  margin-left: var(--xl-gap);
  margin-right: var(--xl-gap);
}

.alu .ml-xl:not(.notalu):not(.notalu .ml-xl),
.alu.ml-xl {
  margin-left: var(--xl-gap);
}

.alu .mr-xl:not(.notalu):not(.notalu .mr-xl),
.alu.mr-xl {
  margin-right: var(--xl-gap);
}

.alu .p-sm:not(.notalu):not(.notalu .p-sm),
.alu.p-sm {
  padding: var(--sm-gap);
}

.alu .pt-sm:not(.notalu):not(.notalu .pt-sm),
.alu.pt-sm {
  padding-top: var(--sm-gap);
}

.alu .pb-sm:not(.notalu):not(.notalu .pb-sm),
.alu.pb-sm {
  padding-bottom: var(--sm-gap);
}

.alu .pv-sm:not(.notalu):not(.notalu .pv-sm),
.alu.pv-sm {
  padding-top: var(--sm-gap);
  padding-bottom: var(--sm-gap);
}

.alu .ph-sm:not(.notalu):not(.notalu .ph-sm),
.alu.ph-sm {
  padding-left: var(--sm-gap);
  padding-right: var(--sm-gap);
}

.alu .pl-sm:not(.notalu):not(.notalu .pl-sm),
.alu.pl-sm {
  padding-left: var(--sm-gap);
}

.alu .pr-sm:not(.notalu):not(.notalu .pr-sm),
.alu.pr-sm {
  padding-right: var(--sm-gap);
}

.alu .gap-md:not(.notalu):not(.notalu .gap-md),
.alu.gap-md {
  gap: var(--md-gap);
}

.alu .p-md:not(.notalu):not(.notalu .p-md),
.alu.p-md {
  margin: var(--md-gap);
}

.alu .pt-md:not(.notalu):not(.notalu .pt-md),
.alu.pt-md {
  padding-top: var(--md-gap);
}

.alu .pb-md:not(.notalu):not(.notalu .pb-md),
.alu.pb-md {
  padding-bottom: var(--md-gap);
}

.alu .pv-md:not(.notalu):not(.notalu .pv-md),
.alu.pv-md {
  padding-top: var(--md-gap);
  padding-bottom: var(--md-gap);
}

.alu .ph-md:not(.notalu):not(.notalu .ph-md),
.alu.ph-md {
  padding-left: var(--md-gap);
  padding-right: var(--md-gap);
}

.alu .pl-md:not(.notalu):not(.notalu .pl-md),
.alu.pl-md {
  padding-left: var(--md-gap);
}

.alu .pr-md:not(.notalu):not(.notalu .pr-md),
.alu.pr-md {
  padding-right: var(--md-gap);
}

.alu .p-lg:not(.notalu):not(.notalu .p-lg),
.alu.p-lg {
  padding: var(--lg-gap);
}

.alu .pt-lg:not(.notalu):not(.notalu .pt-lg),
.alu.pt-lg {
  padding-top: var(--lg-gap);
}

.alu .pb-lg:not(.notalu):not(.notalu .pb-lg),
.alu.pb-lg {
  padding-bottom: var(--lg-gap);
}

.alu .pv-lg:not(.notalu):not(.notalu .pv-lg),
.alu.pv-lg {
  padding-top: var(--lg-gap);
  padding-bottom: var(--lg-gap);
}

.alu .ph-lg:not(.notalu):not(.notalu .ph-lg),
.alu.ph-lg {
  padding-left: var(--lg-gap);
  padding-right: var(--lg-gap);
}

.alu .pl-lg:not(.notalu):not(.notalu .pl-lg),
.alu.pl-lg {
  padding-left: var(--lg-gap);
}

.alu .pr-lg:not(.notalu):not(.notalu .pr-lg),
.alu.pr-lg {
  padding-right: var(--lg-gap);
}

.alu .p-xl:not(.notalu):not(.notalu .p-xl),
.alu.p-xl {
  padding: var(--xl-gap);
}

.alu .pt-xl:not(.notalu):not(.notalu .pt-xl),
.alu.pt-xl {
  padding-top: var(--xl-gap);
}

.alu .pb-xl:not(.notalu):not(.notalu .pb-xl),
.alu.pb-xl {
  padding-bottom: var(--xl-gap);
}

.alu .pv-xl:not(.notalu):not(.notalu .pv-xl),
.alu.pv-xl {
  padding-top: var(--xl-gap);
  padding-bottom: var(--xl-gap);
}

.alu .ph-xl:not(.notalu):not(.notalu .ph-xl),
.alu.ph-xl {
  padding-left: var(--xl-gap);
  padding-right: var(--xl-gap);
}

.alu .pl-xl:not(.notalu):not(.notalu .pl-xl),
.alu.pl-xl {
  padding-left: var(--xl-gap);
}

.alu .pr-xl:not(.notalu):not(.notalu .pr-xl),
.alu.pr-xl {
  padding-right: var(--xl-gap);
}

/* Containers */
.alu .container:not(.notalu):not(.notalu .container),
.container.alu {
  max-width: var(--container-width);
  padding: 0 var(--md-gap);
  margin: 0 auto;
}

.alu .container-padded:not(.notalu):not(.notalu .container-padded),
.container-padded.alu {
  max-width: var(--container-width);
  padding: 0 var(--md-gap);
  margin: 0 auto;
}

.alu body,
body.alu {
  font-family: var(--font-primary);
  margin: 0;
  padding: 0;
}

.alu .debug:not(.notalu):not(.notalu .debug),
.debug.alu {
  border: 1px solid red;
  min-width: 50px;
  min-height: 50px;
  background: lightgoldenrodyellow;
}

.alu a:not(.notalu):not(.notalu a),
a.alu {
  text-decoration: underline;
  color: var(--link-color);
}

.alu a:not(.notalu):not(.notalu a):focus,
a.alu:focus {
  box-shadow: 0 0 0 2px var(--focus-color);
  outline: none;
}

.alu blockquote:not(.notalu):not(.notalu a),
blockquote.alu {
  border-left: var(--blockquote-ornamentation);
  padding-left: var(--md-gap);
  margin-right: var(--md-gap);
  margin-left: var(--md-gap);
  margin-top: var(--lg-gap);
  margin-bottom: var(--lg-gap);
  color: var(--blockquote-text-color);
}

.alu pre:not(.notalu):not(.notalu pre),
pre.alu {
  font-family: var(--font-mono);
  background: var(--pre-background);
  margin-left: var(--md-gap);
  margin-right: var(--md-gap);
  padding: var(--md-gap);
}

/* Inputs */
.alu input[type="text"]:not(.notalu):not(.notalu input),
input[type="text"].alu {
  border-radius: var(--border-radius);
  padding-block: unset;
  padding-inline: unset;
  padding: var(--input-padding);
  border-width: var(--border-width);
  line-height: var(--input-line-height);
  font-size: var(--input-font-size);
  outline: none;
  border-style: solid;
  font-family: var(--font-mono);
  border-color: var(--border-color);
}

.alu input[type="text"]:not(.notalu):not(.notalu input[type="text"]):focus,
input[type="text"].alu:focus {
  box-shadow: 0 0 0 2px var(--focus-color);
  outline: none;
}

.alu input[type="text"]:not(.notalu):not(.notalu input[type="text"]):disabled,
input[type="text"].alu:disabled {
  background-color: var(--disabled-color);
}

.alu
  input[type="text"]:not(.notalu):not(.notalu input[type="text"])::placeholder,
input[type="text"].alu::placeholder {
  color: var(--secondary-text-color);
}

/* For standard range / checkbox / radio using keyboard */
.alu input:not(.notalu):not(.notalu input):focus-visible,
input.alu:focus-visible {
  box-shadow: 0 0 0 2px var(--focus-color);
  outline: none;
}

.alu input[type="text"]:not(.notalu):not(.notalu input[type="text"]),
input.alu[type="text"] {
  width: 100%;
}

.alu select:not(.notalu):not(.notalu select),
select.alu {
  border-radius: var(--border-radius);
  padding-block: unset;
  padding-inline: unset;
  padding: var(--input-padding);
  border-width: var(--border-width);
  line-height: var(--input-line-height);
  font-size: var(--input-font-size);
  outline: none;
  border-style: solid;
  font-family: var(--font-mono);
  border-color: var(--border-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 5px;
  padding-right: var(--xl-gap);
}

.alu select:not(.notalu):not(.notalu select):focus,
select.alu:focus {
  box-shadow: 0 0 0 2px var(--focus-color);
  outline: none;
}

.alu select:not(.notalu):not(.notalu select):disabled,
select.alu:disabled {
  background-color: var(--disabled-color);
}

.alu button.primary:not(.notalu button):not(.notalu),
button.primary.alu {
  background: var(--button-primary-background);
  color: var(--button-primary-color);
  border: none;
}

.alu button.primary:not(.notalu button):not(.notalu):disabled,
button.primary.alu:disabled {
  background: var(--button-disabled-background);
}

.alu button:not(.notalu button):not(.notalu),
button.alu {
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
  background: white;
  border: var(--border-width) solid var(--border-color);
  color: black;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  cursor: pointer;
  font-family: var(--font-primary);
}

.alu button:not(.notalu button):not(.notalu):focus,
button.alu:focus {
  box-shadow: 0 0 0 2px var(--focus-color);
  outline: none;
}

.alu button:not(.notalu button):not(.notalu):disabled,
button.alu:disabled {
  cursor: not-allowed;
  background-color: var(--disabled-color);
}

.alu textarea:not(.notalu):not(.notalu textarea),
textarea.alu {
  border-radius: var(--border-radius);
  width: 100%;
  padding: var(--input-padding);
  border-width: var(--border-width);
  line-height: var(--input-line-height);
  font-size: var(--input-font-size);
  outline: none;
  border-style: solid;
  font-family: var(--font-mono);
  border-color: var(--border-color);
}

.alu textarea:not(.notalu):not(.notalu textarea):focus,
textarea.alu:focus {
  box-shadow: 0 0 0 2px var(--focus-color);
  outline: none;
}

.alu textarea:not(.notalu):not(.notalu textarea):disabled,
textarea.alu:disabled {
  background-color: var(--disabled-color);
}

.alu textarea:not(.notalu):not(.notalu textarea)::placeholder,
textarea.alu::placeholder {
  color: var(--secondary-text-color);
}

.alu dialog:not(.notalu):not(.notalu dialog),
dialog.alu {
  border-radius: var(--border-radius);
  background-color: white;
  border: 1px solid var(--border-color);
  color: black;
  height: fit-content;
  margin: auto;
  padding: var(--lg-gap);
}

.alu dialog::backdrop:not(.notalu):not(.notalu dialog::backdrop),
dialog.alu::backdrop {
  background-color: rgba(0, 0, 0, 0.25);
}

/* Headings */
.alu h1:not(.notalu):not(.notalu h1),
h1.alu {
  font-size: 3rem;
  font-family: var(--font-primary);
  font-weight: bold;
}

.alu h2:not(.notalu):not(.notalu h2),
h2.alu {
  font-size: 2.25rem;
  font-family: var(--font-primary);
  font-weight: bold;
}

.alu h3:not(.notalu):not(.notalu h3),
h3.alu {
  font-size: 1.875rem;
  font-family: var(--font-primary);
  font-weight: bold;
}

.alu h4:not(.notalu):not(.notalu h4),
h4.alu {
  font-size: 1.5rem;
  font-family: var(--font-primary);
  font-weight: bold;
}

.alu h5:not(.notalu):not(.notalu h5),
h5.alu {
  font-size: 1.25rem;
  font-family: var(--font-primary);
  font-weight: bold;
}

.alu h6:not(.notalu):not(.notalu h6),
h6.alu {
  font-size: 1rem;
  font-family: var(--font-primary);
  font-weight: bold;
}

/* Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: var(--md-gap);
}

.alu .col-xs-12:not(.notalu):not(.notalu .col-xs-12),
.alu.col-xs-12 {
  grid-column: span 12;
}
.alu .col-xs-11:not(.notalu):not(.notalu .col-xs-11),
.alu.col-xs-11 {
  grid-column: span 11;
}
.alu .col-xs-10:not(.notalu):not(.notalu .col-xs-10),
.alu.col-xs-10 {
  grid-column: span 10;
}
.alu .col-xs-9:not(.notalu):not(.notalu .col-xs-9),
.alu.col-xs-9 {
  grid-column: span 9;
}
.alu .col-xs-8:not(.notalu):not(.notalu .col-xs-8),
.alu.col-xs-8 {
  grid-column: span 8;
}
.alu .col-xs-7:not(.notalu):not(.notalu .col-xs-7),
.alu.col-xs-7 {
  grid-column: span 7;
}
.alu .col-xs-6:not(.notalu):not(.notalu .col-xs-6),
.alu.col-xs-6 {
  grid-column: span 6;
}
.alu .col-xs-5:not(.notalu):not(.notalu .col-xs-5),
.alu.col-xs-5 {
  grid-column: span 5;
}
.alu .col-xs-4:not(.notalu):not(.notalu .col-xs-4),
.alu.col-xs-4 {
  grid-column: span 4;
}
.alu .col-xs-3:not(.notalu):not(.notalu .col-xs-3),
.alu.col-xs-3 {
  grid-column: span 3;
}
.alu .col-xs-2:not(.notalu):not(.notalu .col-xs-2),
.alu.col-xs-2 {
  grid-column: span 2;
}
.alu .col-xs-1:not(.notalu):not(.notalu .col-xs-1),
.alu.col-xs-1 {
  grid-column: span 1;
}

@media (min-width: 576px) {
  .alu .col-sm-12:not(.notalu):not(.notalu .col-sm-12),
  .alu.col-sm-12 {
    grid-column: span 12;
  }
  .alu .col-sm-11:not(.notalu):not(.notalu .col-sm-11),
  .alu.col-sm-11 {
    grid-column: span 11;
  }
  .alu .col-sm-10:not(.notalu):not(.notalu .col-sm-10),
  .alu.col-sm-10 {
    grid-column: span 10;
  }
  .alu .col-sm-9:not(.notalu):not(.notalu .col-sm-9),
  .alu.col-sm-9 {
    grid-column: span 9;
  }
  .alu .col-sm-8:not(.notalu):not(.notalu .col-sm-8),
  .alu.col-sm-8 {
    grid-column: span 8;
  }
  .alu .col-sm-7:not(.notalu):not(.notalu .col-sm-7),
  .alu.col-sm-7 {
    grid-column: span 7;
  }
  .alu .col-sm-6:not(.notalu):not(.notalu .col-sm-6),
  .alu.col-sm-6 {
    grid-column: span 6;
  }
  .alu .col-sm-5:not(.notalu):not(.notalu .col-sm-5),
  .alu.col-sm-5 {
    grid-column: span 5;
  }
  .alu .col-sm-4:not(.notalu):not(.notalu .col-sm-4),
  .alu.col-sm-4 {
    grid-column: span 4;
  }
  .alu .col-sm-3:not(.notalu):not(.notalu .col-sm-3),
  .alu.col-sm-3 {
    grid-column: span 3;
  }
  .alu .col-sm-2:not(.notalu):not(.notalu .col-sm-2),
  .alu.col-sm-2 {
    grid-column: span 2;
  }
  .alu .col-sm-1:not(.notalu):not(.notalu .col-sm-1),
  .alu.col-sm-1 {
    grid-column: span 1;
  }
}

@media (min-width: 768px) {
  .alu .col-md-12:not(.notalu):not(.notalu .col-md-12),
  .alu.col-md-12 {
    grid-column: span 12;
  }
  .alu .col-md-11:not(.notalu):not(.notalu .col-md-11),
  .alu.col-md-11 {
    grid-column: span 11;
  }
  .alu .col-md-10:not(.notalu):not(.notalu .col-md-10),
  .alu.col-md-10 {
    grid-column: span 10;
  }
  .alu .col-md-9:not(.notalu):not(.notalu .col-md-9),
  .alu.col-md-9 {
    grid-column: span 9;
  }
  .alu .col-md-8:not(.notalu):not(.notalu .col-md-8),
  .alu.col-md-8 {
    grid-column: span 8;
  }
  .alu .col-md-7:not(.notalu):not(.notalu .col-md-7),
  .alu.col-md-7 {
    grid-column: span 7;
  }
  .alu .col-md-6:not(.notalu):not(.notalu .col-md-6),
  .alu.col-md-6 {
    grid-column: span 6;
  }
  .alu .col-md-5:not(.notalu):not(.notalu .col-md-5),
  .alu.col-md-5 {
    grid-column: span 5;
  }
  .alu .col-md-4:not(.notalu):not(.notalu .col-md-4),
  .alu.col-md-4 {
    grid-column: span 4;
  }
  .alu .col-md-3:not(.notalu):not(.notalu .col-md-3),
  .alu.col-md-3 {
    grid-column: span 3;
  }
  .alu .col-md-2:not(.notalu):not(.notalu .col-md-2),
  .alu.col-md-2 {
    grid-column: span 2;
  }
  .alu .col-md-1:not(.notalu):not(.notalu .col-md-1),
  .alu.col-md-1 {
    grid-column: span 1;
  }
}

@media (min-width: 992px) {
  .alu .col-lg-12:not(.notalu):not(.notalu .col-lg-12),
  .alu.col-lg-12 {
    grid-column: span 12;
  }
  .alu .col-lg-11:not(.notalu):not(.notalu .col-lg-11),
  .alu.col-lg-11 {
    grid-column: span 11;
  }
  .alu .col-lg-10:not(.notalu):not(.notalu .col-lg-10),
  .alu.col-lg-10 {
    grid-column: span 10;
  }
  .alu .col-lg-9:not(.notalu):not(.notalu .col-lg-9),
  .alu.col-lg-9 {
    grid-column: span 9;
  }
  .alu .col-lg-8:not(.notalu):not(.notalu .col-lg-8),
  .alu.col-lg-8 {
    grid-column: span 8;
  }
  .alu .col-lg-7:not(.notalu):not(.notalu .col-lg-7),
  .alu.col-lg-7 {
    grid-column: span 7;
  }
  .alu .col-lg-6:not(.notalu):not(.notalu .col-lg-6),
  .alu.col-lg-6 {
    grid-column: span 6;
  }
  .alu .col-lg-5:not(.notalu):not(.notalu .col-lg-5),
  .alu.col-lg-5 {
    grid-column: span 5;
  }
  .alu .col-lg-4:not(.notalu):not(.notalu .col-lg-4),
  .alu.col-lg-4 {
    grid-column: span 4;
  }
  .alu .col-lg-3:not(.notalu):not(.notalu .col-lg-3),
  .alu.col-lg-3 {
    grid-column: span 3;
  }
  .alu .col-lg-2:not(.notalu):not(.notalu .col-lg-2),
  .alu.col-lg-2 {
    grid-column: span 2;
  }
  .alu .col-lg-1:not(.notalu):not(.notalu .col-lg-1),
  .alu.col-lg-1 {
    grid-column: span 1;
  }
}

@media (min-width: 1200px) {
  .alu .col-xl-12:not(.notalu):not(.notalu .col-xl-12),
  .alu.col-xl-12 {
    grid-column: span 12;
  }
  .alu .col-xl-11:not(.notalu):not(.notalu .col-xl-11),
  .alu.col-xl-11 {
    grid-column: span 11;
  }
  .alu .col-xl-10:not(.notalu):not(.notalu .col-xl-10),
  .alu.col-xl-10 {
    grid-column: span 10;
  }
  .alu .col-xl-9:not(.notalu):not(.notalu .col-xl-9),
  .alu.col-xl-9 {
    grid-column: span 9;
  }
  .alu .col-xl-8:not(.notalu):not(.notalu .col-xl-8),
  .alu.col-xl-8 {
    grid-column: span 8;
  }
  .alu .col-xl-7:not(.notalu):not(.notalu .col-xl-7),
  .alu.col-xl-7 {
    grid-column: span 7;
  }
  .alu .col-xl-6:not(.notalu):not(.notalu .col-xl-6),
  .alu.col-xl-6 {
    grid-column: span 6;
  }
  .alu .col-xl-5:not(.notalu):not(.notalu .col-xl-5),
  .alu.col-xl-5 {
    grid-column: span 5;
  }
  .alu .col-xl-4:not(.notalu):not(.notalu .col-xl-4),
  .alu.col-xl-4 {
    grid-column: span 4;
  }
  .alu .col-xl-3:not(.notalu):not(.notalu .col-xl-3),
  .alu.col-xl-3 {
    grid-column: span 3;
  }
  .alu .col-xl-2:not(.notalu):not(.notalu .col-xl-2),
  .alu.col-xl-2 {
    grid-column: span 2;
  }
  .alu .col-xl-1:not(.notalu):not(.notalu .col-xl-1),
  .alu.col-xl-1 {
    grid-column: span 1;
  }
}

/* Rows and columns */
.alu .row:not(.notalu):not(.notalu .row),
.row.alu {
  display: flex;
}

.alu .column:not(.notalu):not(.notalu .column),
.column.alu {
  display: flex;
  flex-direction: column;
}

.alu .row.inverted:not(.notalu):not(.notalu .row.inverted),
.row.inverted.alu {
  flex-direction: row-reverse;
}

.alu .column.inverted:not(.notalu):not(.notalu .column.inverted),
.column.inverted.alu {
  flex-direction: column-reverse;
}

.alu .centered:not(.notalu):not(.notalu .centered),
.centered.alu {
  justify-content: center;
  align-items: center;
}

.alu .spacer:not(.notalu):not(.notalu .spacer),
.alu.spacer {
  flex-grow: 1;
}

/* Navbar */
.alu nav:not(.notalu):not(.notalu nav),
nav.alu {
  min-height: var(--nav-height);
  position: sticky;
  display: flex;
  justify-items: center;
  align-items: center;
  background: var(--nav-background);
  color: var(--nav-color);
  width: 100%;
}

.alu .nav-links:not(.notalu):not(.notalu .nav-links),
.alu.nav-links {
  display: flex;
  flex-grow: 1;
  gap: var(--md-gap);
}

.alu .nav-top:not(.notalu):not(.notalu .nav-top),
.alu.nav-top {
  margin-right: var(--md-gap);
}

.alu nav a.nav-link:not(.notalu):not(.notalu nav a.nav-link),
nav.alu a.nav-link {
  padding: var(--md-gap);
  color: var(--nav-color);
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 100%;
  min-height: var(--nav-height);
}

.alu nav a:hover:not(.notalu):not(.notalu nav a):hover,
nav.alu a:hover {
  background-color: var(--nav-menu-hover-background);
}

#nav-check,
#nav-button {
  display: none;
}

@media (max-width: 750px) {
  .alu .nav-top:not(.notalu):not(.notalu .nav-top),
  .alu.nav-top {
    display: flex;
    align-items: center;
    padding: 0;
  }
  .alu nav:not(.notalu):not(.notalu nav),
  nav.alu {
    min-height: var(--nav-height);
    width: 100%;
    display: block;
  }
  .alu .nav-links:not(.notalu):not(.notalu .nav-links),
  .alu.nav-links {
    flex-direction: column;
    display: none;
  }
  #nav-button {
    display: block;
    cursor: pointer;
    padding: var(--md-gap);
  }
  #nav-button:hover {
    background-color: var(--nav-menu-hover-background);
  }
  #nav-check:checked ~ .nav-links {
    display: block;
  }
}

.alu footer:not(.notalu):not(.notalu footer),
footer.alu {
  background-color: #000;
  color: #eee;
  padding: calc(var(--lg-gap) * 2) 0;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .alu .checkbox:not(.notalu):not(.notalu .checkbox) > input[type="checkbox"],
  .alu.checkbox > input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 20px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    cursor: pointer;
    border: var(--border-width) solid var(--border-color);
    transition: border-color var(--transition-duration),
      background-color var(--transition-duration),
      box-shadow var(--transition-duration);
    width: 20px;
    border-radius: var(--border-radius);
  }
  .alu
    .checkbox:not(.notalu):not(.notalu .checkbox)
    > input[type="checkbox"]:checked:after,
  .alu.checkbox > input[type="checkbox"]:checked:after {
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    height: 8px;
    border: 2px solid var(--primary-text-color);
    border-top: 0;
    border-left: 0;
    left: 7.5px;
    top: 4px;
    transform: rotate(45deg);
  }
  .alu
    .checkbox:not(.notalu):not(.notalu .checkbox)
    > input[type="checkbox"]:checked,
  .alu.checkbox > input[type="checkbox"]:checked {
    background: var(--active-color);
  }
  .alu
    .checkbox:not(.notalu):not(.notalu .checkbox)
    > input[type="checkbox"]:focus,
  .alu.checkbox > input[type="checkbox"]:focus {
    box-shadow: 0 0 0 2px var(--focus-color);
  }
  .alu
    .checkbox:not(.notalu):not(.notalu .checkbox)
    > input[type="checkbox"]
    + label,
  .alu.checkbox > input[type="checkbox"] + label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-left: var(--md-gap);
  }
  .alu
    .checkbox:not(.notalu):not(.notalu .checkbox)
    > input[type="checkbox"]:disabled,
  .alu.checkbox > input[type="checkbox"]:disabled {
    background: var(--disabled-color);
    cursor: not-allowed;
  }
  .alu
    .checkbox:not(.notalu):not(.notalu .checkbox)
    > input[type="checkbox"]:disabled
    + label,
  .alu.checkbox > input[type="checkbox"]:disabled + label {
    cursor: not-allowed;
  }
  .alu
    .checkbox:not(.notalu):not(.notalu .checkbox)
    > input[type="checkbox"]:disabled:checked,
  .alu.checkbox > input[type="checkbox"]:disabled:checked {
    background: var(--disabled-active-color);
  }
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .alu .radio:not(.notalu):not(.notalu .radio) > input[type="radio"],
  .alu.radio > input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 20px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    cursor: pointer;
    border: var(--border-width) solid var(--border-color);
    transition: border-color var(--transition-duration),
      background-color var(--transition-duration),
      box-shadow var(--transition-duration);
    width: 20px;
    border-radius: 50%;
  }
  .alu .radio:not(.notalu):not(.notalu .radio) > input[type="radio"]:after,
  .alu.radio > input[type="radio"]:after {
    content: "";
    display: block;
    position: absolute;
  }
  .alu .radio:not(.notalu):not(.notalu .radio) > input[type="radio"]:checked,
  .alu.radio > input[type="radio"]:checked {
    background-color: var(--active-color);
    border-color: var(--active-color);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
  }
  .alu .radio:not(.notalu):not(.notalu .radio) > input[type="radio"]:focus,
  .alu.radio > input[type="radio"]:focus {
    box-shadow: 0 0 0 2px var(--focus-color);
  }
  .alu .radio:not(.notalu):not(.notalu .radio) > input[type="radio"] + label,
  .alu.radio > input[type="radio"] + label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-left: var(--md-gap);
  }
  .alu .radio:not(.notalu):not(.notalu .radio) > input[type="radio"]:disabled,
  .alu.radio > input[type="radio"]:disabled {
    background: var(--disabled-color);
    border-color: var(--border-color);
    cursor: not-allowed;
  }
  .alu
    .radio:not(.notalu):not(.notalu .radio)
    > input[type="radio"]:disabled
    + label,
  .alu.radio > input[type="radio"]:disabled + label {
    cursor: not-allowed;
  }
  .alu
    .radio:not(.notalu):not(.notalu .radio)
    > input[type="radio"]:disabled:checked,
  .alu.radio > input[type="radio"]:disabled:checked {
    background-color: var(--disabled-active-color);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
  }
}
